<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>C&C 예약사이트</title>
	<link rel="stylesheet" type="text/css" href="CSS/home.css">
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
	<!-- header -->
	<!-- 홈페이지 만드는중 -->
	<div class="main-container">
		<!-- 이미지 배너 -->
		<div class="banner" style="margin-top: 50px;">
			<div class="image-slideshow">
				<div class="slide">
					<a
						href="https://kr.freepik.com/free-vector/set-of-delicious-food-banners_1041849.htm#query=%EC%9D%8C%EC%8B%9D%20%EB%B0%B0%EB%84%88%20%EB%94%94%EC%9E%90%EC%9D%B8%20png&position=45&from_view=keyword&track=ais">
						<img src="img/banner1.jpg" alt="Banner 1">
					</a>
				</div>
				<div class="slide">
					<a
						href="https://kr.freepik.com/free-vector/set-of-delicious-food-banners_1041849.htm#query=%EC%9D%8C%EC%8B%9D%20%EB%B0%B0%EB%84%88%20%EB%94%94%EC%9E%90%EC%9D%B8%20png&position=45&from_view=keyword&track=ais">
						<img src="img/banner2.jpg" alt="Banner 2">
					</a>
				</div>
				<div class="slide">
					<a
						href="https://kr.freepik.com/free-vector/set-of-delicious-food-banners_1041849.htm#query=%EC%9D%8C%EC%8B%9D%20%EB%B0%B0%EB%84%88%20%EB%94%94%EC%9E%90%EC%9D%B8%20png&position=45&from_view=keyword&track=ais">
						<img src="img/banner3.jpg" alt="Banner 3">
					</a>
				</div>
				<!-- 추가 이미지 추가 -->
			</div>
		</div>

		<!-- 지헌님 작업물 -->
		<div class="content">
			<div class="bodybox">
				<!-- 슬라이드 1 -->
				<section class="section_card" style="margin-top: 100px;">
					<div class="recommendations">
						<div class="card_section_title_box">
							<h1 class="card_section_title">#서울맛집</h1>
						</div>
						<span class="card_span"></span>
						<div class="slider-container">
							<button id="prev_1" class="slide-button" data-slide-index="-1">&lt;</button>
							<ul class="slides">
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card"
												href="/store/1?storeName=버거킹 종로점&storeAddr=서울 종로구 종로 94&storeTel=02-2285-4838">
												<div class="rest_card_img" id="store_info1">
													<img class="restaurant_card_img" src="/img/김치찌개.jpg"
														srcset="/img/김치찌개.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">시민식당</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/냉면.jpg"
														srcset="/img/냉면.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">냉면</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/돈까스.jpg"
														srcset="/img/돈까스.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">돈까스</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/떡국.jpg"
														srcset="/img/떡국.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">떡국</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/떡볶이.jpg"
														srcset="/img/떡볶이.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">떡볶이</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/멸치국수.jpg"
														srcset="/img/멸치국수.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">멸치국수</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/보쌈.jpg"
														srcset="/img/보쌈.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">보쌈</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/볶음밥.jpg"
														srcset="/img/볶음밥.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">볶음밥</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/비빔밥.jpg"
														srcset="/img/비빔밥.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">비빔밥</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/삼겹살.jpg"
														srcset="/img/삼겹살.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">삼겹살</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/자장면.jpg"
														srcset="/img/자장면.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">자장면</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/장어덮밥.jpg"
														srcset="/img/장어덮밥.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">장어덮밥</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/타코야끼.jpg"
														srcset="/img/타코야끼.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">타코야끼</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/파스타.jpg"
														srcset="/img/파스타.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">파스타</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/피자.jpg"
														srcset="/img/피자.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">피자</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/훠궈.jpg"
														srcset="/img/훠궈.jpg" sizes="238px">
												</div>
											</a>
											<p id="store_name">훠궈</p>
										</li>
									</ul>
								</li>
							</ul>
							<button id="next_1" class="slide-button" data-slide-index="1">&gt;</button>
						</div>
					</div>
				</section>
				<!-- 슬라이드 2 -->
				<section class="section_card">
					<div class="recommendations">
						<div class="card_section_title_box">
							<h1 class="card_section_title">#SNS</h1>
						</div>
						<span class="card_span"></span>
						<div class="slider-container">
							<button id="prev_2" class="slide-button" data-slide-index="-1">&lt;</button>
							<ul class="slides_2">
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/김치찌개.jpg"
														srcset="/img/김치찌개.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">김치찌개</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/냉면.jpg"
														srcset="/img/냉면.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">냉면</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/돈까스.jpg"
														srcset="/img/돈까스.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">돈까스</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/떡국.jpg"
														srcset="/img/떡국.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">떡국</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/떡볶이.jpg"
														srcset="/img/떡볶이.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">떡볶이</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/멸치국수.jpg"
														srcset="/img/멸치국수.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">멸치국수</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/보쌈.jpg"
														srcset="/img/보쌈.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">보쌈</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/볶음밥.jpg"
														srcset="/img/볶음밥.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">볶음밥</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/비빔밥.jpg"
														srcset="/img/비빔밥.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">비빔밥</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/삼겹살.jpg"
														srcset="/img/삼겹살.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">삼겹살</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/자장면.jpg"
														srcset="/img/자장면.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">자장면</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/장어덮밥.jpg"
														srcset="/img/장어덮밥.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">장어덮밥</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/타코야끼.jpg"
														srcset="/img/타코야끼.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">타코야끼</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/파스타.jpg"
														srcset="/img/파스타.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">파스타</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/피자.jpg"
														srcset="/img/피자.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">피자</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/훠궈.jpg"
														srcset="/img/훠궈.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">훠궈</p>
										</li>
									</ul>
								</li>
							</ul>
							<button id="next_2" class="slide-button" data-slide-index="1">&gt;</button>
						</div>
					</div>
				</section>

				<!-- 슬라이드 3 -->
				<section class="section_card" style="margin-bottom: 50px;">
					<div class="recommendations">
						<div class="card_section_title_box">
							<h1 class="card_section_title">#추천맛집</h1>
						</div>
						<span class="card_span"></span>
						<div class="slider-container">
							<button id="prev_3" class="slide-button" data-slide-index="-1">&lt;</button>
							<ul class="slides_3">
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/김치찌개.jpg"
														srcset="/img/김치찌개.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">김치찌개</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/냉면.jpg"
														srcset="/img/냉면.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">냉면</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/돈까스.jpg"
														srcset="/img/돈까스.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">돈까스</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/떡국.jpg"
														srcset="/img/떡국.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">떡국</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/떡볶이.jpg"
														srcset="/img/떡볶이.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">떡볶이</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/멸치국수.jpg"
														srcset="/img/멸치국수.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">멸치국수</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/보쌈.jpg"
														srcset="/img/보쌈.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">보쌈</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/볶음밥.jpg"
														srcset="/img/볶음밥.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">볶음밥</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/비빔밥.jpg"
														srcset="/img/비빔밥.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">비빔밥</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/삼겹살.jpg"
														srcset="/img/삼겹살.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">삼겹살</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/자장면.jpg"
														srcset="/img/자장면.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">자장면</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/장어덮밥.jpg"
														srcset="/img/장어덮밥.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">장어덮밥</p>
										</li>
									</ul>
								</li>
								<li class="slide">
									<ul class="restaurant-list">
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/타코야끼.jpg"
														srcset="/img/타코야끼.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">타코야끼</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/파스타.jpg"
														srcset="/img/파스타.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">파스타</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/피자.jpg"
														srcset="/img/피자.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">피자</p>
										</li>
										<li>
											<a class="rest_card" href="/test" target="_blank">
												<div class="rest_card_img">
													<img class="restaurant_card_img" src="/img/훠궈.jpg"
														srcset="/img/훠궈.jpg" sizes="238px">
												</div>
											</a>
											<p class="card_rest_name">훠궈</p>
										</li>
									</ul>
								</li>
							</ul>
							<button id="next_3" class="slide-button" data-slide-index="1">&gt;</button>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- 지헌님 작업물 -->
	
	<!-- footer -->
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="javascript/home.js"></script>

</html>