<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <title>회원가입</title>
  <link rel="stylesheet" type="text/css" href="CSS/joinform.css">
</head>

<body>
<!-- header -->
<div th:replace="/fragments/header.html :: header"></div>

<div class="join-container">
  <h2>회원가입</h2>
  <form class="join-c" id="submit" method="post" th:object="${userform}">
    <table class="join-t2">
      <tr>
        <td><label for="userId">아이디 <sup style="color: red">*</sup></label></td>
        <td>
          <input type="text" id="userId" name="userId" th:field="*{userId}"
                 oninput="toggleCheckButton()">
        </td>
        <td>
          <button id="checkButton" type="button" onclick="checkId()" disabled>
            중복확인
          </button>
        </td>
        <!-- 중복 확인 결과를 표시할 스팬 추가 -->
        <span id="idCheckedMessage" style="color: red;"></span>
        <!-- 중복 확인 결과 스팬을 숨김 -->
        <span id="idChecked_1" style="display: none; color: green;">사용 가능한 아이디입니다.</span>
        <span id="idChecked_2"
              style="display: none; color: red;">이미 있는 아이디입니다.</span>
      </tr>

      <tr>
        <td><label for="userPw">비밀번호 <sup style="color: red">*</sup></label>
        </td>
        <td><input type="password" id="userPw" name="userPw"
                   th:field="*{userPw}"></td>
        <td></td>
        <td th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></td>
      </tr>
      <tr>
        <td><label for="userPw_check">비밀번호 확인 <sup
            style="color: red">*</sup></label></td>
        <td><input type="password" id="userPw_check" name="userPw2"></td>
      </tr>
      <tr>
        <td><label for="name">이름 <sup style="color: red">*</sup></label></td>
        <td class="name-box"><input type="text" id="name" name="user_name"
                                    th:field="*{name}"></td>
        <td></td>
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
      </tr>
      <tr>
        <td><label for="phone">휴대폰 번호 <sup style="color: red">*</sup></label>
        </td>
        <td><input type="text" name="user_phone" id="phone"
                   placeholder="ex) 010-1234-5678"
                   th:field="*{phone}"></td>
        <td></td>
        <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
      </tr>
      <tr>
        <td><label for="birth">생년월일</label></td>
        <td class="birth-box"><input type="text" id="birth" name="user_birth"
                                     placeholder="8자 ex) 19880808"
                                     th:field="*{birth}"></td>
        <td></td>
        <td th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}"></td>
      </tr>

      <tr class="e-mail">
        <td><label for="email">이메일</label></td>
        <td><input type="text" placeholder="ex) xxx@xxx.com" id="email"
                   th:field="*{email}" name="email">
        </td>
        <td></td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
      </tr>


      <tr style="border-bottom: none;">
        <td style="border-bottom: none;"><label for="gender">성별</label></td>
        <td style="border-bottom: none;"><label class="radiobox"><input
            type="radio" name="gender"
            id="gender" value="male"
            style="width:15px;height:15px;cursor:pointer;"
            th:field="*{gender}">
          <span class="fm">남</span></label>
          <label class="radiobox2"><input type="radio" name="gender"
                                          value="female"
                                          style="width:15px;height:15px;cursor:pointer;"
                                          th:field="*{gender}">
            <span class="fm">여</span></label>
        </td>
      </tr>

    </table>


    <div class="join-button">
      <button type="reset">다시쓰기</button>
      <button type="button" onclick="submitForm()">제출하기</button>
    </div>

  </form>
</div>
<script>
  function toggleCheckButton() {
    // 아이디 입력 필드의 값을 가져옵니다.
    var idValue = document.getElementById("userId").value;

    // 중복 확인 버튼 엘리먼트를 가져옵니다.
    var checkButton = document.getElementById("checkButton");

    // 입력 필드의 내용이 비어있지 않으면 중복 확인 버튼을 활성화합니다.
    // 그렇지 않으면 버튼을 비활성화합니다.
    if (idValue.trim() !== "") {
      checkButton.disabled = false;
    } else {
      checkButton.disabled = true;
    }
  }
</script>

<script>
  function validatePassword() {
    var password = document.getElementById("userPw").value;
    var confirmPassword = document.getElementById("userPw_check").value;

    if (password !== confirmPassword) {
      alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
      return false;
    }

    return true;
  }
</script>

<script>
  function checkId() {
    var id = $('#userId').val();
    if (id.trim() === "") {
      alert("아이디를 입력하세요.");
      return;
    }

    // 서버로 아이디 중복 확인 요청 보내기
    $.ajax({
      url: "/checkId",
      data: {userId: id},
      type: "POST",
      success: function (result) {
        if (result === "available") {
          alert("사용 가능한 아이디입니다.");
        } else if (result === "exists") {
          alert("이미 사용 중인 아이디입니다.");
        }
      },
      error: function (result) {
        alert("에러입니다.");
      }
    });
  }
</script>
<script>
  function submitForm() {
    var idValue = document.getElementById("userId").value;
    var passwordValue = document.getElementById("userPw").value;
    var confirmPasswordValue = document.getElementById("userPw_check").value;
    var nameValue = document.getElementById("name").value;
    var phoneValue = document.getElementById("phone").value;
    var birthValue = document.getElementById("birth").value;
    var emailValue = document.getElementById("email").value;

    if (idValue.trim() === "" || passwordValue.trim() === ""
        || confirmPasswordValue.trim() === "" ||
        nameValue.trim() === "" || phoneValue.trim() === "" || birthValue.trim()
        === "" || emailValue.trim() === "") {
      alert("모든 필수 항목을 입력해주세요.");
      return;
    }

    if (passwordValue !== confirmPasswordValue) {
      alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
      return;
    }

    alert("회원가입이 완료되었습니다. 로그인 해주세요.");
    document.getElementById('submit').submit();
    // location.href = "login";
  }
</script>
<!-- footer -->
<div th:replace="/fragments/footer.html :: footer"></div>
</body>

</html>
