<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #rs_view {
      position: relative;
      margin: auto;
      left: 450px;
      width: 1800px;
    }

    .imgbox {
      position: relative;
      margin: auto;
      right: 0px;
      width: 300px;

    }

  </style>
</head>
<body>
<div th:replace="header :: header"></div>
<form action="" id="rs_view">
  <div id="rs_img_box">
    <!-- 가게 음식메뉴 이미지 창 -->
    <!-- 3 ~ 4장 정도의 이미지 화면을 보이게 해야됨 -->
    <img src="/Users/KITCOOP/Desktop/spring_jpa/img/menuimg1.jpg" width="320"
         height="320">
    <img src="/Users/KITCOOP/Desktop/spring_jpa/img/menuimg1.jpg" width="320"
         height="320">
    <img src="/Users/KITCOOP/Desktop/spring_jpa/img/menuimg1.jpg" width="320"
         height="320">
  </div>
  <div id="imgbox">
    <a href="https://www.naver.com/"><img
        src="/Users/KITCOOP/Desktop/spring_jpa/img/share.jpg" id="shareimg"
        class="smallbox" width="30px" height="30px"></a> <!-- 공유 -->
    <!-- 공유 버튼 누르면 URL복사 한 값이 alert창에 나오게 해야됨 -->
    <img src="" alt=""> <!-- 관심 -->
  </div>
  <div>
    <span id="store_name"><h1 th:text="${store.storeName}">가게이름</h1></span>
    <!-- db에서 불러온 가게 이름 (name)-->
  </div>
  <div>
    <!-- 선으로 만들 박스 -->
  </div>
  <table id="가게설명">
    <tr>
      <th>
        전화번호 :
      </th>
      <td>
        <span th:text="${store.storePhone}">02-1234-5678</span>
      </td>
    </tr>
    <tr>
      <th>
        음식 종류 : <!-- keyword -->
      </th>
      <td>
        기타 한식
      </td>
    </tr>
    <tr>
      <th>
        주차 : <!-- parking $$ -->
      </th>
      <td>
        주차 가능
      </td>
    </tr>
    <tr>
      <th>
        영업 시간 : <!-- time -->
      </th>
      <td>
        09:00 ~ 19:00
      </td>
    </tr>
    <tr>
      <th>
        쉬는 시간 :
      </th>
      <td>
        13:00 ~ 15:00
      </td>
    </tr>
    <tr>
      <th>
        메뉴 <!-- table menu m-->
      </th>
      <td>
        <ul>
          <li>
            <span>장칼국수</span>
            <span>3000</span>
          </li>
          <li>
            <span>칼국수</span>
            <span>4000</span>
          </li>
          <li>
            <span>콩국수</span>
            <span>4000</span>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <div>
    <input type="button" id="reservationButton" value="예약하기">
  </div>
  <div class="addr">
    <h3>매장 위치</h3>
    <p th:text="${store.storeAddr}" id="storeaddr">
      부산광역시 수영구 <!-- addr -->
    </p>
    <!-- 지도 api, 스타일로 사이즈 조절가능 -->
    <div id="map" style="width:500px; height:500px;"></div> <!-- 용진님한테 -->
  </div>
</form>
<form id="review">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>회원명</th>
      <th>제목</th>
      <th>별점</th>
      <th>일시</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>김현</td> <!-- memberid_name -->
      <td>맛있음</td>
      <td>1</td>
      <td>2023-10-18</td>
    </tr>
    </tbody>
  </table>
</form>

<!-- 지도 api 스크립트 -->
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b277fa67d9aab2d7dfded0d7955c0336&libraries=services">
</script>
<script th:inline="javascript">
  document.addEventListener("DOMContentLoaded", function () {

    // 김용진 코멘트 = 변수값입니다 바꾸시면 안됨니다.
    var address = document.getElementById('storeaddr').textContent;
    // address를 사용하여 원하는 작업을 수행
    var storename = document.getElementById('store_name').textContent;
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.497815, 127.026541), // 지도의 중심좌표 디폴트는 강남역 12번출구로 설정
          level: 3 // 지도의 확대 레벨
        };
    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    // 여기에 위에 설정한 변수 address가 들어가서 지도에 표시가 됨니다.
    geocoder.addressSearch(address, function (result, status) {

      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다, 김용진 코멘트 = 강남 버거킹 대신, 변수를 집어넣으면 해당 지도 해당부분 에 텍스트가 나옴니다.
        var infowindow = new kakao.maps.InfoWindow({
          content: '<div style="width:150px;text-align:center;padding:6px 0;">'
              + storename + '</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }
    });
  });
</script>


<script>

  function openReservationPopup() {

    var reservationURL = "https://www.example.com/reservation";

    var popupWidth = 600;
    var popupHeight = 400;
    var leftPosition = (screen.width - popupWidth) / 2;
    var topPosition = (screen.height - popupHeight) / 2;

    // Open the popup window
    window.open(reservationURL, "ReservationPopup",
        "width=" + popupWidth + ",height=" + popupHeight + ",left="
        + leftPosition + ",top=" + topPosition);
  }

  document.getElementById("reservationButton").addEventListener("click",
      openReservationPopup);
</script>
</body>
</html>
