
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	<link rel="stylesheet" href="/CSS/storedetail.css">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<title>가게상세정보</title>
</head>

<body>
	<form method="post" action="/store/view/reservation">
		<div id="rs_view" style="margin-top: 50px">
			<div class="imgbox">
				<!-- 가게 음식메뉴 이미지 창 -->
				<!-- 3 ~ 4장 정도의 이미지 화면을 보이게 해야됨 -->
				<img src="/img/recommned/일식4.jpg" width="320" height="320">
				<img src="/img/recommned/일식5.jpg" width="320" height="320">
				<img src="/img/recommned/일식6.jpg" width="320" height="320">
			</div>
			<div class="storeInfo">
				<div>
					<a href="https://www.naver.com/" id="sns_urlCoby" class="btn_share_sns" title="새창"
						onclick="clip(); return false;">
						<img src="/img/share.jpg" id="shareimg" class="urlandir"></a> <!-- 공유 -->
					<!-- 공유 버튼 누르면 URL복사 한 값이 alert창에 나오게 해야됨 -->
					<img src="/img/interest.jpg" id="interestimg" class="urlandir"> <!-- 관심 -->
					<div>
						<h1><span id="store_name" th:text="${store.storeName}">가게이름</span></h1>
						<input type="hidden" name="store_name" th:value="${store.storeName}">
						<input type="hidden" name="addr" th:value="${store.storeAddr}">
						<!-- db에서 불러온 가게 이름 (name)-->
					</div>
				</div>
				<!-- <div>
   
               </div> -->
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="times">~</div>
				<table class="menutable">
					<tr>
						<th class="info">
							전화번호
						</th>
						<td class="info">
							<span id="phone" th:text="${store.storePhone}">02-1234-5678</span>
							<input type="hidden" name="store_phone" th:value="${store.storePhone}">
						</td>
					</tr>
					<tr>
						<th class="info">
							음식 종류 <!-- keyword -->
						</th>
						<!-- <td class="info" th:text="${store.keyword}"> -->
						<td class="info">
							일식
						</td>
					</tr>
					<tr>
						<th class="info">
							주차
						</th>
						<td class="info">
							<!--                     <span th:text="${store.parking }">주차 가능</span>-->
							<span>주차 가능</span>
						</td>
					</tr>
					<tr>
						<th class="info">
							영업 시간
						</th>
						<!--                     <td class="info" th:text="${store.start_time}">-->
						<td class="infotime">
							11:00 ~ 21:30
						</td>
					</tr>
					<tr>
						<th class="info" id="menuinfo">
							<span>메뉴</span>
						</th>
						<td class="info" id="menuinfo">
							<div class="store_menu" style="display: flex; justify-content: space-between;">
								<span style="margin-right: auto;">참돔</span>
								<span class="info_price" style="margin-left: auto;">5500</span>
							</div>
							<div class="store_menu" style="display: flex; justify-content: space-between;">
								<span style="margin-right: auto;">와규계란불닭마요구이</span>
								<span class="info_price" style="margin-left: auto;">6700</span>
							</div>
							<div class="store_menu" style="display: flex; justify-content: space-between;">
								<span style="margin-right: auto;">광어쿠라게</span>
								<span class="info_price" style="margin-left: auto;">6700</span>
							</div>
						</td>
					</tr>
				</table>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div>
					<input type="button" id="reservationButton" value="예약하기" onclick="toggleReservations()">
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="reservations" id="reservations" style="display: none;">
					<div class="mainbox">
						<input type="hidden" name="day" id="selectedDay">
						<table class="Calendar">
							<thead>
								<tr>
									<td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
									<td colspan="5">
										<span id="calYear"></span>년
										<input type="hidden" id="selectedYear" name="year">
										<span id="calMonth"></span>월
										<input type="hidden" id="selectedMonth" name="month">

									</td>
									<td onClick="nextCalendar();" style="cursor:pointer;" name="day">&#62;</td>
								</tr>
								<tr>
									<td>일</td>
									<td>월</td>
									<td>화</td>
									<td>수</td>
									<td>목</td>
									<td>금</td>
									<td>토</td>
								</tr>
							</thead>

							<tbody>
							</tbody>
						</table>
					</div>
					<div class="smallbox">
						<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
					</div>
					<div class="box">
						<table class="selectbox">
							<tr>
								<th class="people">인원 수</th>
								<td>
									<select name="count" id="guests"> <!-- 인원 수 체크 -->
										<option value="1">1명</option>
										<option value="2">2명</option>
										<option value="3">3명</option>
										<option value="4">4명</option>
										<option value="5">5명</option>
										<option value="6">6명</option>
										<option value="7">7명</option>
										<option value="8">8명</option>
										<option value="9">9명</option>
										<option value="10">10명</option>
									</select>
								</td>
							</tr>
						</table>

						<table class="selectbox2">
							<tr>
								<th class="time">예약 시간</th>
								<td>
									<select name="time" id="time"> <!-- 예약 시간 체크 -->
										<option value="오전0100">01:00 AM</option>
										<option value="오전0130">01:30 AM</option>
										<option value="오전0200">02:00 AM</option>
										<option value="오전0230">02:30 AM</option>
										<option value="오전0300">03:00 AM</option>
										<option value="오전0330">03:30 AM</option>
										<option value="오전0400">04:00 AM</option>
										<option value="오전0430">04:30 AM</option>
										<option value="오전0500">05:00 AM</option>
										<option value="오전0530">05:30 AM</option>
										<option value="오전0600">06:00 AM</option>
										<option value="오전0630">06:30 AM</option>
										<option value="오전0700">07:00 AM</option>
										<option value="오전0730">07:30 AM</option>
										<option value="오전0800">08:00 AM</option>
										<option value="오전0830">08:30 AM</option>
										<option value="오전0900">09:00 AM</option>
										<option value="오전0930">09:30 AM</option>
										<option value="오전1000">10:00 AM</option>
										<option value="오전1030">10:30 AM</option>
										<option value="오전1100">11:00 AM</option>
										<option value="오전1130">11:30 AM</option>
										<option value="오후1200">12:00 PM</option>
										<option value="오후1230">12:30 PM</option>
										<option value="오후0100">01:00 PM</option>
										<option value="오후0130">01:30 PM</option>
										<option value="오후0200">02:00 PM</option>
										<option value="오후0230">02:30 PM</option>
										<option value="오후0300">03:00 PM</option>
										<option value="오후0330">03:30 PM</option>
										<option value="오후0400">04:00 PM</option>
										<option value="오후0430">04:30 PM</option>
										<option value="오후0500">05:00 PM</option>
										<option value="오후0530">05:30 PM</option>
										<option value="오후0600">06:00 PM</option>
										<option value="오후0630">06:30 PM</option>
										<option value="오후0700">07:00 PM</option>
										<option value="오후0730">07:30 PM</option>
										<option value="오후0800">08:00 PM</option>
										<option value="오후0830">08:30 PM</option>
										<option value="오후0900">09:00 PM</option>
										<option value="오후0930">09:30 PM</option>
										<option value="오후1000">10:00 PM</option>
										<option value="오후1030">10:30 PM</option>
										<option value="오후1100">11:00 PM</option>
										<option value="오후1130">11:30 PM</option>
										<option value="오전0000">00:00 AM</option>
										<option value="오전0030">00:30 AM</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class="smallbox">
						<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
					</div>
					<div class="box2">
						<input type="submit" class="box3" value="예약완료">
						<!-- 예약하기를 누를 경우 체크한 날짜와 인원, 시간이 적힌 예약확인창으로 넘어감 -->
					</div>
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="addr">
					<h3>매장 위치</h3>

					<p th:text="${store.storeAddr}" id="storeaddr">

						부산광역시 수영구 addr
					</p>
					<div class="smallbox">
						<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
					</div>
					<!-- 지도 api, 스타일로 사이즈 조절가능 -->
					<div id="map" style="width:800px; height:500px;"></div> <!--z 용진님한테 -->
				</div>


				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<!-- 맨위로 이동하는 버튼 -->
				<div class="reviewAllTable">
					<table class="reviewth">
						<thead>
							<tr>
								<th>회원명</th>
								<th>제목</th>
								<th>별점</th>
								<th>일시</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="reviewTable"><span>김현</span></td> <!-- memberid_name -->
								<td class="reviewTable"><span>맛있음</span></td>
								<td class="reviewTable"><span>1</span></td>
								<td class="reviewTable"><span>2023-10-18</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
			</div>
		</div>
	</form>
	<input type="image" src="/img/up.jpg" id="scrollToTopButton" alt="맨 위로 이동" width=50 height=50>
	<div class="smallbox">
		<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
	</div>
	<!-- 지도 api 스크립트 -->
	<!--<script src="/CSS/storedetail.css"></script>-->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b277fa67d9aab2d7dfded0d7955c0336&libraries=services">
		</script>
	<script th:inline="javascript">
		document.addEventListener("DOMContentLoaded", function () {

			// 김용진 코멘트 = 변수값입니다 바꾸시면 안됨니다.
			var address = document.getElementById('storeaddr').textContent;
			// address를 사용하여 원하는 작업을 수행
			var storename = document.getElementById('store_name').textContent;
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
				mapOption = {
					center: new kakao.maps.LatLng(37.497815, 127.026541), // 지도의 중심좌표 디폴트는 강남역 12번출구로 설정
					level: 3 // 지도의 확대 레벨
				};
			// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
			var map = new kakao.maps.Map(mapContainer, mapOption);

			// 주소-좌표 변환 객체를 생성합니다
			var geocoder = new kakao.maps.services.Geocoder();

			// 주소로 좌표를 검색합니다
			// 여기에 위에 설정한 변수 address가 들어가서 지도에 표시가 됨니다.
			geocoder.addressSearch(address, function (result, status) {

				// 정상적으로 검색이 완료됐으면 
				if (status === kakao.maps.services.Status.OK) {

					var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

					// 결과값으로 받은 위치를 마커로 표시합니다
					var marker = new kakao.maps.Marker({
						map: map,
						position: coords
					});

					// 인포윈도우로 장소에 대한 설명을 표시합니다, 김용진 코멘트 = 강남 버거킹 대신, 변수를 집어넣으면 해당 지도 해당부분 에 텍스트가 나옴니다.
					var infowindow = new kakao.maps.InfoWindow({
						content: '<div style="width:150px;text-align:center;padding:6px 0;">' + storename + '</div>'
					});
					infowindow.open(map, marker);

					// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
					map.setCenter(coords);
				}
			});
		});
	</script>
	<!-- 예약 달력 꺼내주는 스크립트 -->
	<script>
		// "예약하기" 버튼 클릭 이벤트 처리
		function toggleReservations() {
			var reservationsDiv = document.getElementById("reservations");

			if (reservationsDiv.style.display === "none") {
				reservationsDiv.style.display = "block"; // Show the reservations div
			} else {
				reservationsDiv.style.display = "none"; // Hide the reservations div
			}
		}
	</script>
	<!-- 최상단 올라가는 기능, url복사 -->
	<script>

		function clip() {

			var url = '';    // <a>태그에서 호출한 함수인 clip 생성
			var textarea = document.createElement("textarea");
			//url 변수 생성 후, textarea라는 변수에 textarea의 요소를 생성

			document.body.appendChild(textarea); //</body> 바로 위에 textarea를 추가(임시 공간이라 위치는 상관 없음)
			url = window.document.location.href;  //url에는 현재 주소값을 넣어줌
			textarea.value = url;  // textarea 값에 url를 넣어줌
			textarea.select();  //textarea를 설정
			document.execCommand("copy");   // 복사
			document.body.removeChild(textarea); //extarea 요소를 없애줌

			alert("URL이 복사되었습니다.")  // 알림창
		}
	</script>

	<script>
		window.onload = function () {buildCalendar();}    // 웹 페이지가 로드되면 buildCalendar 실행

		let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
		let today = new Date();     // 페이지를 로드한 날짜를 저장
		today.setHours(0, 0, 0, 0);    // 비교 편의를 위해 today의 시간을 초기화

		// 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
		function buildCalendar() {

			let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
			let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

			let tbody_Calendar = document.querySelector(".Calendar > tbody");
			
			document.getElementById("calYear").innerText = nowMonth.getFullYear();
			document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);
			
			const yearValue = document.getElementById("calYear").innerText;
			const monthValue = document.getElementById("calMonth").innerText;
			
			console.log("연도:", yearValue);
			console.log("월:", monthValue);
			
			document.getElementById("selectedYear").value = yearValue;
			document.getElementById("selectedMonth").value = monthValue;
			

			while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
				tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
			}

			let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

			for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
				let nowColumn = nowRow.insertCell();        // 열 추가
			}

			for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

				let nowColumn = nowRow.insertCell();        // 새 열을 추가하고


				let newDIV = document.createElement("p");
				newDIV.innerHTML = leftPad(nowDay.getDate());        // 추가한 열에 날짜 입력
				nowColumn.appendChild(newDIV);

				if (nowDay.getDay() == 6) {                 // 토요일인 경우
					nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
				}

				if (nowDay < today) {                       // 지난날인 경우
					newDIV.className = "pastDay";
				}
				else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
					newDIV.className = "today";
					newDIV.onclick = function () {choiceDate(this);}
				}
				else {                                      // 미래인 경우
					newDIV.className = "futureDay";
					newDIV.onclick = function () {choiceDate(this);}
				}
			}
		}

		// 이전달 버튼 클릭
		function prevCalendar() {
			nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
			buildCalendar();    // 달력 다시 생성
		}
		// 다음달 버튼 클릭
		function nextCalendar() {
			nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
			buildCalendar();    // 달력 다시 생성
		}

		// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
		function leftPad(value) {
			if (value < 10) {
				value = "0" + value;
				return value;
			}
			return value;
		}
		function choiceDate(newDIV) {
			if (document.getElementsByClassName("choiceDay")[0]) {
				document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");
			}
			newDIV.classList.add("choiceDay");


			const selectedDay = newDIV.textContent;  // 선택한 날짜 텍스트

			document.getElementById("selectedDay").value = selectedDay;
		}

		function setMemberId() {
			const memberidInput = document.getElementById("memberid");
			const selectedMemberId = memberidInput.value;

			// 선택한 회원 ID를 memberid 필드에 설정
			document.getElementById("selectedDay").value = selectedMemberId;
		}
	</script>
	<script>
		window.addEventListener("scroll", function () {
			var scrollToTopButton = document.getElementById("scrollToTopButton");
			if (window.scrollY > 200) { // 200픽셀 이상 스크롤하면 버튼을 표시합니다
				scrollToTopButton.style.display = "block";
			} else { // 200픽셀 미만으로 스크롤하면 버튼을 숨깁니다
				scrollToTopButton.style.display = "none";
			}
		});

		document.getElementById("scrollToTopButton").addEventListener("click", function () {
			window.scrollTo({top: 0, behavior: 'smooth'}); // 버튼을 클릭하면 페이지 상단으로 부드럽게 스크롤합니다
		});
	</script>

	<script>
		const year = document.getElementById("calYear").innerText
		const month = document.getElementById("calMonth").innerText
		
		document.getElementById("selectedYear").value = year
		document.getElementById("selectedMonth").value = month
	</script>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>