
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	<link rel="stylesheet" href="/CSS/storedetail.css">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<title>가게상세정보</title>
</head>

<body>
	<form method="post" action="/store/view/reservation">
		<div id="rs_view">
			<div class="imgbox">
				<!-- 가게 음식메뉴 이미지 창 -->
				<!-- 3 ~ 4장 정도의 이미지 화면을 보이게 해야됨 -->
				<img src="/img/store_p1.jpg" width="320" height="320">
				<img src="/img/store_p2.jpg" width="320" height="320">
				<img src="/img/store_p3.jpg" width="320" height="320">
			</div>
			<div class="storeInfo">
				<div>
					<a href="https://www.naver.com/" id="sns_urlCoby" class="btn_share_sns" title="새창"
						onclick="clip(); return false;">
						<img src="/img/share.jpg" id="shareimg" class="urlandir"></a> <!-- 공유 -->
					<!-- 공유 버튼 누르면 URL복사 한 값이 alert창에 나오게 해야됨 -->
					<img src="/img/interest.jpg" id="interestimg" class="urlandir"> <!-- 관심 -->
					<div>
						<h1><span id="store_name" th:text="${store.storeName}">가게이름</span></h1>
						<input type="hidden" name="store_name" th:value="${store.storeName}">
						<input type="hidden" name="addr" th:value="${store.storeAddr}">
						<!-- db에서 불러온 가게 이름 (name)-->
					</div>
				</div>
				<!-- <div>
   
               </div> -->
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="times">~</div>
				<table class="menutable">
					<tr>
						<th class="info">
							전화번호
						</th>
						<td class="info">
							<span id="phone" th:text="${store.storePhone}">02-1234-5678</span>
							<input type="hidden" name="store_phone" th:value="${store.storePhone}">
						</td>
					</tr>
					<tr>
						<th class="info">
							음식 종류 <!-- keyword -->
						</th>
						<!-- <td class="info" th:text="${store.keyword}"> -->
						<td class="info">
							기타 한식
						</td>
					</tr>
					<tr>
						<th class="info">
							주차
						</th>
						<td class="info">
							<!--                     <span th:text="${store.parking }">주차 가능</span>-->
							<span>주차 가능</span>
						</td>
					</tr>
					<tr>
						<th class="info">
							영업 시간
						</th>
						<!--                     <td class="info" th:text="${store.start_time}">-->
						<td class="infotime">
							11:00
						</td>
						<!--                     <td class="infotime" th:text="${store.end_time}">-->
						<td class="infotime">
							17:00
						</td>
					</tr>
					<tr>
						<th class="info" id="menuinfo">
							<span>메뉴</span>
						</th>
						<td class="info" id="menuinfo">
							<div class="store_menu">
								<span>장칼국수 &emsp; &emsp; &emsp; 3000</span> <!--반복문-->
							</div>
							<div class="store_menu">
								<span>칼국수 &emsp; &emsp; &emsp; &emsp;5000</span>
							</div>
							<div class="store_menu">
								<span>콩국수 &emsp; &emsp; &emsp; &emsp;4000</span>
							</div>
						</td>
					</tr>
				</table>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div>
					<input type="button" id="reservationButton" value="예약하기" onclick="toggleReservations()">
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="reservations" id="reservations" style="display: none;">
					<div class="mainbox">
						<input type="hidden" name="day" id="selectedDay">
						<table class="Calendar">
							<thead>
								<tr>
									<td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
									<td colspan="5">
										<span id="calYear"></span>년
										<input type="hidden" id="selectedYear" name="year">
										<span id="calMonth"></span>월
										<input type="hidden" id="selectedMonth" name="month">

									</td>
									<td onClick="nextCalendar();" style="cursor:pointer;" name="day">&#62;</td>
								</tr>
								<tr>
									<td>일</td>
									<td>월</td>
									<td>화</td>
									<td>수</td>
									<td>목</td>
									<td>금</td>
									<td>토</td>
								</tr>
							</thead>

							<tbody>
							</tbody>
						</table>
					</div>
					<div class="smallbox">
						<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
					</div>
					<div class="box">
						<table class="selectbox">
							<tr>
								<th class="people">인원 수</th>
								<td>
									<select name="count" id="guests"> <!-- 인원 수 체크 -->
										<option value="1">1명</option>
										<option value="2">2명</option>
										<option value="3">3명</option>
										<option value="4">4명</option>
										<option value="5">5명</option>
										<option value="6">6명</option>
										<option value="7">7명</option>
										<option value="8">8명</option>
										<option value="9">9명</option>
										<option value="10">10명</option>
									</select>
								</td>
							</tr>
						</table>

						<table class="selectbox2">
							<tr>
								<th class="time">예약 시간</th>
								<td>
									<select name="time" id="time"> <!-- 예약 시간 체크 -->
										<option value="오전0100">01:00 AM</option>
										<option value="오전0130">01:30 AM</option>
										<option value="오전0200">02:00 AM</option>
										<option value="오전0230">02:30 AM</option>
										<option value="오전0300">03:00 AM</option>
										<option value="오전0330">03:30 AM</option>
										<option value="오전0400">04:00 AM</option>
										<option value="오전0430">04:30 AM</option>
										<option value="오전0500">05:00 AM</option>
										<option value="오전0530">05:30 AM</option>
										<option value="오전0600">06:00 AM</option>
										<option value="오전0630">06:30 AM</option>
										<option value="오전0700">07:00 AM</option>
										<option value="오전0730">07:30 AM</option>
										<option value="오전0800">08:00 AM</option>
										<option value="오전0830">08:30 AM</option>
										<option value="오전0900">09:00 AM</option>
										<option value="오전0930">09:30 AM</option>
										<option value="오전1000">10:00 AM</option>
										<option value="오전1030">10:30 AM</option>
										<option value="오전1100">11:00 AM</option>
										<option value="오전1130">11:30 AM</option>
										<option value="오후1200">12:00 PM</option>
										<option value="오후1230">12:30 PM</option>
										<option value="오후1300">13:00 PM</option>
										<option value="오후1330">13:30 PM</option>
										<option value="오후1400">14:00 PM</option>
										<option value="오후1430">14:30 PM</option>
										<option value="오후1500">15:00 PM</option>
										<option value="오후1530">15:30 PM</option>
										<option value="오후1600">16:00 PM</option>
										<option value="오후1630">16:30 PM</option>
										<option value="오후1700">17:00 PM</option>
										<option value="오후1730">17:30 PM</option>
										<option value="오후1800">18:00 PM</option>
										<option value="오후1830">18:30 PM</option>
										<option value="오후1900">19:00 PM</option>
										<option value="오후1930">19:30 PM</option>
										<option value="오후2000">20:00 PM</option>
										<option value="오후2030">20:30 PM</option>
										<option value="오후2100">21:00 PM</option>
										<option value="오후2130">21:30 PM</option>
										<option value="오후2200">22:00 PM</option>
										<option value="오후2230">22:30 PM</option>
										<option value="오후2300">23:00 PM</option>
										<option value="오후2330">23:30 PM</option>
										<option value="오전1200">12:00 AM</option>
										<option value="오전1230">12:30 AM</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class="smallbox">
						<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
					</div>
					<div class="box2">
						<input type="submit" class="box3" value="예약완료">
						<!-- 예약하기를 누를 경우 체크한 날짜와 인원, 시간이 적힌 예약확인창으로 넘어감 -->
					</div>
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="addr">
					<h3>매장 위치</h3>

					<p th:text="${store.storeAddr}" id="storeaddr">

						부산광역시 수영구 addr
					</p>
					<div class="smallbox">
						<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
					</div>
					<!-- 지도 api, 스타일로 사이즈 조절가능 -->
					<div id="map" style="width:800px; height:500px;"></div> <!--z 용진님한테 -->
				</div>


				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<div class="line">
					<!-- 선으로 만들 박스 -->
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
				<!-- 맨위로 이동하는 버튼 -->
				<div class="reviewAllTable">
					<table class="reviewth">
						<thead>
							<tr>
								<th>회원명</th>
								<th>제목</th>
								<th>별점</th>
								<th>일시</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="reviewTable"><span>김현</span></td> <!-- memberid_name -->
								<td class="reviewTable"><span>맛있음</span></td>
								<td class="reviewTable"><span>1</span></td>
								<td class="reviewTable"><span>2023-10-18</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="smallbox">
					<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
				</div>
			</div>
		</div>
	</form>
	<input type="image" src="/img/up.jpg" id="scrollToTopButton" alt="맨 위로 이동" width=50 height=50>
	<div class="smallbox">
		<!-- 1 TAP 느낌은 작은 빈 공간을 확보하기 위한 용도 -->
	</div>
	<!-- 지도 api 스크립트 -->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b277fa67d9aab2d7dfded0d7955c0336&libraries=services">
		</script>
	<script src="javascript/storedetail.js"></script>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>