<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>음식 정보 예약 사이트</title>
	<link rel="stylesheet" href="/css/main.css">

</head>

<body>
	<header>
		<h1>음식 정보 예약 사이트</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

	</header>
	<main class="content">
		<div class="bodybox">
			<section class="section_card">
				<div class="recommendations">
					<div class="card_section_title_box">
						<h1 class="card_section_title">#서울맛집</h1>
					</div>
					<span class="card_span"></span>
					<div class="slider-container">
						<button id="prev1" class="slide-button" data-slide-index="-1">&lt;</button>
						<ul class="slides">
							<li class="slide">
								<ul class="restaurant-list">
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/166557187458549420.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 1</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/20210107516500.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 2</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/2255e427-d720-43e2-ae85-6a6719fafc03.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 3</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/40d0fb3794229958bdd1e36520a4440f.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 4</p>
									</li>
								</ul>
							</li>
							<li class="slide">
								<ul class="restaurant-list">
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/5보쌈.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 5</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/67b89d56-aee3-4307-a633-38c6de199271.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 6</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/69068_2873_1455.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 7</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/99DE4D375ECFB46901.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 8</p>
									</li>
								</ul>
							</li>
							<li class="slide">
								<ul class="restaurant-list">
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/cheesy-tokbokki-korean-traditional-food-on-black-board-background-lunch-dish_1150-42992.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 9</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/Dduk-Guk-500x500.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 10</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/download.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 11</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/images.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 12</p>
									</li>
								</ul>
							</li>
							<li class="slide">
								<ul class="restaurant-list">
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/IMG_5649のコピー.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 13</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/img3.daumcdn.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 14</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/shutterstock_1068672764.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 15</p>
									</li>
									<li>
										<a class="rest_card" href="/test" target="_blank">
											<div class="rest_card_img">
												<img class="restaurant_card_img" src="/img/166557187458549420.jpg"
													srcset="/img/t2.daumcdn.jpg" sizes="238px">
											</div>
										</a>
										<p class="card_rest_name">레스토랑 16</p>
									</li>
								</ul>
							</li>
						</ul>
						<button id="next1" class="slide-button" data-slide-index="1">&gt;</button>
					</div>
				</div>
		</div>
		</div>
		</section>
		
		
		


		</div>
	</main>
	<script>
		const slideshow = document.querySelector('.image-slideshow');
		const images = slideshow.querySelectorAll('img');
		let currentIndex = 0;

		function nextSlide() {
			images[currentIndex].style.display = 'none';
			currentIndex = (currentIndex + 1) % images.length;
			images[currentIndex].style.display = 'block';
		}

		// 초기 슬라이드 표시
		images[currentIndex].style.display = 'block';

		// 10초마다 슬라이드 전환
		setInterval(nextSlide, 10000);
	</script>

	<script>
 const prevButton = document.getElementById('prev1');
        const nextButton = document.getElementById('next1');
        const slides = document.querySelector('.slides');
        const slideItems = slides.querySelectorAll('.slide');

        let currentIndex1 = 0;

        function showSlide(index) {
            currentIndex1 = index;
            const startIndex = currentIndex1 * 4;
            const endIndex = startIndex + 4;

            // 모든 슬라이드 아이템을 숨김
            slideItems.forEach((item, i) => {
                if (i === currentIndex1) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        }

        // 이전 버튼 클릭 시
        prevButton.addEventListener('click', () => {
            currentIndex1 -= 1;
            if (currentIndex1 < 0) {
                currentIndex1 = slideItems.length - 1;
            }
            showSlide(currentIndex1);
        });

       // 다음 버튼 클릭 시
nextButton.addEventListener('click', () => {
    currentIndex1 = (currentIndex1 + 1) % slideItems.length;
    showSlide(currentIndex1);
});

        // 초기 슬라이드 표시
        showSlide(currentIndex1);
	</script>

	<footer>
		<!-- Footer 내용 (이미 만들어진 것을 추가) -->
	</footer>
</body>

</html>