/* header 파트*/
.logo_box{
	position: relative;
	margin: auto;
	width: 1400px;
}
.logo_a{
	width: 100%;
	height: 100%;
}
.logoimg {
	position: relative;
	top: 20px;
	width: 200px;
	height: 70px;
}

.search {
	position: relative;
	margin: auto;
	width: 500px;
	height: 50px;
	padding-left: 15px;
}

.searchbox {
	width: 442px;
	height: 40px;
	font-size: 25px;
	border-radius: 30px;
	border: 2px solid #ff6b6b;
}
.searchbutton {
	position: absolute;
	top: 0px;
	right: 50px;
	width: 110px;
	color: #ffffff;
	line-height: 48px;
	border-radius: 50px;
	background-color: #ff6b6b;
	height: 43px;
	border: white;
	font-size: 17px;
}
.searchbutton:focus{
	outline: 0px solid #ff6b6b;
}
.searchbox:focus{
	outline: 0.5px solid #ff6b6b;
}
.login {
	position: relative;
	margin: auto;
	width: 500px;
	left: 750px;
	bottom: 90px;
	height: 27px;
}
.loginline {
	position: relative;
	height: 16px;
	top: 1px;
	width: 0.5px;
	background-color: rgb(179, 179, 179);
}
.logintable{
	position: relative;
	height: 27px auto;
}

a {
	text-decoration: none;
	color: #ff6b6b;
}

a:hover {
	color: darksalmon;
}

.navigation {
	/* border: 1px solid red; */
	border: 1px;
	height: 50px;
	background-color: #ff6b6b;
	color: white;
	margin-top: 0px;
	position: relative;
	bottom: 30px;
}
.navigationbox{
	position: relative;
	width: 1500px;
	left: 150px;
	height: 100%;
}

.navigation2 {
	position: absolute;
	border: 1px;
	bottom: 0px;
	height: 50px;
	transition: all 0.3s;
	width: 100%;
}
.navigationbox2{
	position: relative;
	width: 1500px;
	left: 200px;
}
.navigation:hover .foodnavigationbox2 {
	display: block;
	z-index: 2;
}
.navigation:hover .addrnavigationbox2 {
	display: block;
	z-index: 2;
}
.allnavigationbox {
	position: relative;
	left: 500px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 30px;
	/* bottom: 30px; */
	text-align: center;
	height: 100%;
}

.allnavigationbox2 {
	position: relative;
	left: 500px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 25px;
}

.title {
	font-size: 30px;
}

.addrnavigationbox {
	position: relative;
	left: 650px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 100%;
	bottom: 50px;
	text-align: center;
/*	background-color: aqua;*/
}

.addrnavigationbox2 {
	position: relative;
	left: 800px;
	width: 148px;
	border: 1px;
	height: 210px;
	background-color: darksalmon;
	top: 25px;
	text-align: center;
	display: none;
}

.foodnavigationbox {
	position: relative;
	left: 800px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 100%;
	bottom: 100px;
	text-align: center;
/*	background-color: aquamarine;*/
}

.foodnavigationbox2 {
	position: relative;
	left: 950px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 210px;
	background-color: darksalmon;
	text-align: center;
	display: none;
	bottom: 185px;
}

.moneynavigationbox {
	position: relative;
	left: 950px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 25px;
	bottom: 150px;
	text-align: center;
/*	background-color: aqua;*/
	height: 100%;
}

.moneynavigationbox2 {
	position: relative;
	left: 950px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 200px;
	bottom: 427px;
}

.reviewnavigationbox {
	position: relative;
	left: 1100px;
	width: 148px;
	/* border: 1px solid black; */
	border: 1px;
	height: 25px;
	bottom: 200px;
	text-align: center;
	height: 100%;
}

.chlidmenu2:hover {
	background-color: khaki;
}

ul {
	list-style: none;
}

.childmenu {
	height: 40px;
	font-size: 20px;
}

.chlidmenu2{
	width: 148px;
	border: 1px;
	height: 40px;
	background-color: darksalmon;
	text-align: center;
	font-size: 20px;
	color: white;
}

.br {
	height: 10px;
}
td{
	width: 65px;
}
.join{
	position: relative;
	right: 47px;
	height: 27px;
}
.logintd{
	height: 27px;
/*	width: 300px;*/
}
.form{
	position: relative;
	bottom: 40px;
	width: 800px;
	margin: 0 auto;
}