/*section 파트*/
		html, body {
		     min-height: 100%;
		}
		body{
			background-color: white;
		}
        #rs_view{
            position: relative;
            margin: auto;
            width: 1000px;
            background-color: white;
            box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
        }
        .imgbox{
            position: relative;
            margin: auto;
            right: 0px;
            width: 1000px;
            left: 15px;
            
        }
		.urlandir{
            position: relative;
            margin: auto;
            left: 780px;
            width: 30px;
            height: 30px;
        }
        .storeInfo{
            position: relative;
            margin: auto;
            width: 800px;
        }
        th{
            width: 200px;
            height: 50px;
            text-align: left;
        }
        
        .store_menu{
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-direction: row;
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 4px;
        }
        .emsp{
            width: 100px;
        }
        #reservationButton{
            font-size: 30px;
            position: relative;
            left: 300px;
            width: 200px;
            height: 50px;
            color: white;
            border-radius: 20px;
            background-color: #ff6b6b;
            cursor: pointer;
            border: 0;
        }
        #reservationButton:hover{
            font-size: 30px;
            color: ghostwhite;
            background-color: rgb(255, 211, 129);
        }
        .box{
            height: 50px;
        }
        .mapAPI{
            width: 400px;
            height: 300px;
            border: 1px solid black;
        }
        .smallbox{
            height: 30px;
        }
        tbody{
            width: 200px;
            height: 30px;
        }
        .center{
            font-size: 15px;
            position: relative;
            left: 75px;
        }
        .info{
            padding: 3px;
            border-width: 1px;
        }
        .line{
            position: relative;
            margin: auto;
            background-color: rgb(192, 192, 192) ;
            height: 1px;
        }
        .addrposition{
            position: relative;
            margin: auto;
            left: 200px;
            bottom: 300px;
            width: 300px;
        }
        .reviewTable{
            padding: 5px;
        }
        .reviewTable{
            border: 1px solid rgb(192, 192, 192) ;
            border-right: none;
            border-left: none;
        }
        .reviewAllTable{
            border: 1px solid rgb(192, 192, 192) ;
        }
          #scrollToTopButton {
        position: fixed;
        bottom: 150px;
        right: 10%; /* 가운데 정렬을 위해 50% 위치로 이동 */
        transform: translate(50%); /* 정렬 기준점을 가운데로 이동 */
        z-index: 1000; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
    	}
    	header{
        position: fixed;
        width: 1900px;
        height: 100px;
        /* border: 1px solid red; */
    }
    .header{
        width: 300px;
    }
    .logoimg{
        position: relative;
        left: 230px;
        top: 10px;
        width: 200px;
        height: 70px;
    }
    .search{
        position: relative;
        margin: auto;
        bottom: 50px;
        width: 500px;
        height: 50px;
    }
    .searchbox{
        width: 442px;
        height: 40px;
        font-size: 25px;
        border-radius: 30px;
        border: 2px solid #ff7100;
    }
    .searchbox:focus{
        outline: 0.5px solid #ff7100;
    }
    /* .searchbutton{
        display: block;
        position: absolute;
        margin: auto;
        width: 50px;
        height: 46px;
        font-size: 17px;
        left: 450px;
        bottom: 46px;
        color: #ffffff;
        border-radius: 50px;
        background-color: #ff7100;
    } */
    .login{
        position: relative;
        margin: auto;
        width: 300px;
        left: 750px;
        bottom: 110px;
    }
    .loginline{
        position: relative;
        border: 1px solid rgb(179, 179, 179);
        height: 16px;
        top: 1px;
    }
    .searchbutton {
    position: absolute;
    top: 0px;
    right: 50px;
    width: 110px;
    color: #ffffff;
    line-height: 48px;
    border-radius: 50px;
    background-color: #ff7100;
    height: 46px;
    border: white;
    font-size: 17px;
    }
    a{
        text-decoration: none;
        color: darksalmon;
    }
    a:hover{
        color: #ff7100;
    }
    .navigation{
        position: relative;
        /* border: 1px solid red; */
        border: 1px;
        bottom: 52px;
        height: 50px;
        background-color: #ff7100;
        color: white;
        margin-top: 0px;
        transition: all 0.3s;
        border-radius: 5px;
    }
    .navigation2{
        position: relative;
        /* border: 1px solid red; */
        border: 1px;
        bottom: 82px;
        height: 200px;
        background-color: rgb(255, 211, 129);
        display: none;
        transition: all 0.3s;
    }
    .navigation:hover .navigation2{
        display: block;
    }
    .allnavigationbox{
        position: relative;
        left: 500px;
        width:148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 30px;
        /* bottom: 30px; */
        top : 3px;
    }
    .allnavigationbox2{
        position: relative;
        left: 500px;
        width:148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 25px;
    }
    .title{
        font-size: 30px;
    }
    .addrnavigationbox{
        position: relative;
        left: 650px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 27px;
        bottom: 26px;
    }
    .addrnavigationbox2{
        position: relative;
        left: 650px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 200px;
        bottom: 27px;
    }
    .foodnavigationbox{
        position: relative;
        left: 800px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 25px;
        bottom: 53px;
    }
    .foodnavigationbox2{
        position: relative;
        left: 800px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 200px;
        bottom: 227px;
    }
    .moneynavigationbox{
        position: relative;
        left: 950px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 25px;
        bottom: 79px;
    }
    .moneynavigationbox2{
        position: relative;
        left: 950px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 200px;
        bottom: 427px;
    }
    .reviewnavigationbox{
        position: relative;
        left: 1100px;
        width: 148px;
        /* border: 1px solid black; */
        border: 1px;
        height: 25px;
        bottom: 104px;
    }
    .childmenu:hover{
        background-color: beige;
    }
    ul{
        list-style:none;
    }
    .childmenu{
        height: 30px;
    }
    .br{
        height: 10px;
        /* border: 1px solid black; */
    }
    .footer {
		  background-color: #333; /* 원하는 배경 색상 설정 */
		  color: #fff; /* 텍스트 색상 설정 */
		  padding: 20px; /* 필요에 따라 조정 */
		  text-align: center;
		}
		
		/* 푸터 박스에 대한 스타일 */
		.footer-box {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  margin-bottom: 20px;
		}
		
		/* 푸터 알림 컨테이너에 대한 스타일 */
		.footer-notice {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  margin-bottom: 20px;
		}
		
		/* 푸터 제목에 대한 스타일 */
		.footer-title {
		  margin-bottom: 10px;
		}
		
		.footer-title span {
		  margin-right: 20px;
		  font-weight: bold;
		}
		
		/* 푸터 로고에 대한 스타일 */
		.footer-logo img {
		  width: 200px; /* 필요에 따라 너비 조정 */
		  height: 70px; /* 필요에 따라 높이 조정 */
		  margin-bottom: 10px;
		}
		
		.footer-logo li {
		  list-style: none;
		}
		
		.footer-logo a {
		  color: #fff; /* 링크 텍스트 색상 설정 */
		  text-decoration: none;
		}
		
		/* 푸터 정보 영역에 대한 스타일 */
		.footer-info-area span {
		  display: block;
		  margin-bottom: 5px;
		}
		
		/* 푸터 내의 링크에 대한 스타일 */
		.footer-info-area a {
		  color: #fff; /* 링크 텍스트 색상 설정 */
		  text-decoration: none;
		}
		.navigation:hover .navigation2 {
         display: block;
         z-index: 2;
      }
      #menuinfo{
        position: relative;
        vertical-align: top;
      }
      .times{
        position: relative;
        /* border: 1px solid black; */
        top: 210px;
        left: 320px;
        font-size: 15px;
      }
      #storeaddr{
		  position: relative;
	  }
	.mainbox {
	    background-color : white;
	    height: auto;
	    width: 500px;
	    margin: 0px;
	    padding: 20px;
	    margin: 0 auto;
	    border-radius:5px;
	    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
	}
	.box {
	    background-color : white;
	    height: 70px;
	    width: 540px;
	    margin: 0 auto;
	    border-radius:5px;
	    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
	}
	.box2 {
	    background-color : white;
	    height: 50px;
	    width: 540px;
	    margin: 0 auto;
	    border-radius:5px;
	    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
	}
	td {
	    position: relative;
	    margin: 0 auto;
	    width: 50px;
	    height: 50px;
	}
	
	.Calendar {
	    text-align: center;
	    position: relative;
	    margin: 0 auto;
	    right: 10px;
	}
	
	.Calendar>thead>tr:first-child>td {
	    font-family: 'Questrial', sans-serif;
	    font-size: 1.1em;
	    font-weight: bold;
	}
	
	.Calendar>thead>tr:last-child>td {
	    font-family: 'Questrial', sans-serif;
	    font-weight: 600;     
	}
	
	.Calendar>tbody>tr>td>p {
	    font-family: 'Montserrat', sans-serif;
	    height: 45px;
	    width: 65px;
	    border-radius: 45px;
	    transition-duration: .2s;
	    line-height: 45px;
	    margin: 2.5px;
	    display: block;
	    text-align: center;
	}        
	
	.pastDay {
	    color: lightgray;
	}
	
	.today {
	    background-color: #F5D042;            
	    color: #fff;
	    font-weight: 600;
	    cursor: pointer;
	}
	
	.futureDay {
	    background-color: #FFFFFF;
	    cursor: pointer;
	}
	.futureDay:hover{
	    background:#eee;
	}
	
	.futureDay.choiceDay,
	.today.choiceDay {
	    background: #0A174E;
	    color: #fff;
	    font-weight: 600;
	    cursor: pointer;
	}
	.smallbox{
	    height: 20px;
	}
	.people, .time{
		position: relative;
		left: 70px;
		margin: 0 auto;
	    width: 100px;
	    height: 30px;
	    border-radius: 5px;
	    border: 0;
	}
	.time{
	    position: relative;
	    left: 50px;
	}
	.selectbox{
	    position: relative;
	    top: 5px;
	    width: 250px;
	    height: auto;
	}
	.selectbox2{
	    position: relative;
	    bottom: 51px;
	    left: 200px;
	    width: 250px;
	    height: auto;
	}
	.box3{
	    font-size: 20px;
	    position: relative;
	    background-color: #ff6b6b;
	    height: 50px;
	    width: 540px;
	    margin: auto;
	    color: white;
        border-radius: 20px;

	    border: 0;
	    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
	}
	.box3:hover{
	    font-size: 20px;
	    background-color: rgb(255, 211, 129);
	}
	#time{
	    position: relative;
	    left: 40px;
	}
	.page-content {
	    margin-top: 0;
	    transition: margin-top 0.5s ease; /* 부드러운 이동 효과를 위한 트랜지션 */
	}
