<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/CSS/footer.css">
	</head>

	<body>

	</body>
	<footer class="footer">
		<div class="footer-box">
			<div class="footer-notice">
				<div class="footer-title">
					<span>이용약관</span><span>개인정보 처리방침</span>
				</div>
				<div class="footer-logo">
					<a href="/" class="logo_a"><img src="/img/LOGO.jpg" width="200" height="70"></a>
					<li><a href="https://kiccampus.co.kr/index.jsp">[프로젝트 중심]자바 개발 & 빅데이터 분석 전문가 양성과정</a></li>
				</div>
			</div>
		</div>
		<div class="footer-info-area">
			<span>조장 김용진 &ensp; 조원 이현지 &ensp; 조원 김세환 &ensp; 조원 이지헌 &ensp; 조원 김현 &ensp; 조원 김현욱</span><span>고객센터
				02-8282-4545 (평일 09:00~18:00 / 점심시간 13:00~14:00 / 주말 및 공휴일 휴무)</span> <span>사업자등록번호
				111-11-11111 서울특별시 강남구 역삼동 819-10 세경빌딩3층 : cnc@cnc.com</span> <span>Copyright©
				CNC(주) All rights reserved.</span>
		</div>
		</div>
	</footer>

</html>