<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="headerFragment">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/CSS/header.css">
			<div>
				<div class="logo_box">
					<a href="/" class="logo_a">
						<img src="/img/LOGO.jpg" id="logoimg" class="logoimg">
					</a>
				</div>
				<form method="post" action="/storeList">
					<div class="form">
						<div class="search">
							<input type="text" name="searchbox" class="searchbox" placeholder="검색어를 입력해주세요">     
<!--							<input type="text" class="emsp" readonly>-->
							<button type="submit" class="searchbutton">검색</button>
						</div>
					</div>
					<div class="login">
						<table class="logintd">
							<tr>
								<td class="logintd"><a href="login">로그인</a></td>
								<td class="logintd">
									<div class="loginline"><!-- 구분선 --></div>
								</td>
								<td class="join"><a href="join">회원가입</a></td>
							</tr>
							<tr>
								<!-- <a href="/mypage.page">마이페이지</a> 로그인 성공 시 보이는 마이페이지 -->
							</tr>
						</table>
					</div>
					<div class="navigation">
						<div class="navigationbox">
							<div class="allnavigationbox">
								<span class="title">메뉴</span> <!-- 전체 메뉴화면을 만들게 되면 필요할거 같아 만들어봄-->
							</div>
							<div class="addrnavigationbox">
								<span class="title">지역</span> <!-- 지역별 메뉴검색 -->
							</div>
							<div class="foodnavigationbox">
								<span class="title">음식종류</span> <!-- 음식별 메뉴검색 -->
							</div>
							<div class="moneynavigationbox"> <!-- 가격대별 메뉴검색 -->
								<span class="title">예약</span>
							</div>
							<div class="reviewnavigationbox"> <!-- 별점(리뷰)별 메뉴검색 -->
								<span class="title">리뷰</span>
							</div>
						</div>
						<div class="navigation2">
							<div class="allnavigationbox2"></div> <!-- 메뉴 아래는 나올게 없기에 자리 정렬용 빈 박스 -->
							<div class="addrnavigationbox2">
							<div class="br"><!-- br대용--></div>
<!--								<div class="childmenu" OnClick="location.href ='/서울'"><span>서울</span></div>-->
							<input type="submit" name="searchbox" class="chlidmenu2" value="서울">
							<input type="submit" name="searchbox" class="chlidmenu2" value="인천">
							<input type="submit" name="searchbox" class="chlidmenu2" value="경기">
							<input type="submit" name="searchbox" class="chlidmenu2" value="부산">
							<input type="submit" name="searchbox" class="chlidmenu2" value="대전">
						</div>
						<div class="foodnavigationbox2">
							<div class="br"><!-- br대용--></div>
							<input type="submit" name="searchbox" class="chlidmenu2" value="한식">
							<input type="submit" name="searchbox" class="chlidmenu2" value="중식">
							<input type="submit" name="searchbox" class="chlidmenu2" value="일식">
							<input type="submit" name="searchbox" class="chlidmenu2" value="양식">
							<input type="submit" name="searchbox" class="chlidmenu2" value="패스트푸드">
						</div>
					</div>
				</div>
			</form>
		</div>
	</head>
</th:block>

</html>